*{
    padding: 0%;
    margin: 0%;
    
}

.header{ 
    background-color:rgb(37, 41, 47);
    color: whitesmoke;
    text-align: center;
    padding-bottom: 10px;
}
.about{
    text-align: center;
    padding-bottom: 10px;
    background-color: rgb(244, 244, 244);
}
#intro{
    padding-bottom: 10px;
}
h2{
    font-weight: bolder;
    padding-bottom: 10px;
    text-align: center;
}
.footer{
    background-color:rgb(37, 41, 47);
    text-align: center;
}
li{
    padding-bottom: 10px;
}
.movie{
    padding: 50px;
    text-align: center;
}
.box-model-example{
    width: 250px;
    height: 400px;
    margin: auto;
    text-align: center;
    width: 250px;
    border: 2px solid rgb(74, 74, 74); 
    border-radius: 10px;
    padding: 20px;
background-color:rgb(249, 249, 249);
margin-bottom: 15px;
box-sizing: border-box;

}
img{
    width: 80%;
}


